.rodape-card {
    color: #efb0a9;
    height: 35px;
}

.btn-detalhes {
    background-color: #efb0a9;
    color: #fff;
}

.btn-detalhes:hover {
    background-color: #eb9d8d;
    color: #fff;
}

.card-text {
    max-height: 50px;
    min-height: 50px;
    overflow: hidden;
}

.img-cartao {
    min-height: 120px;
    max-height: 120px;
    min-width: 100%;
    border: 2px solid #efd8a9;
    padding: 1px;
}

.card-titulo {
    min-height: 20px;
    max-height: 20px;
    overflow: hidden;
}