.navbar{
    background-color: #eb9d8d;
}
.navbar li{
    font-size: 18px;
    color: black;
}
.nav-item a:hover{
    background-color: #c5cba6;
}
.nav-item a{
    transition: 1s ease-in;
    color: black;
}
