.img-banner {
    width: 100%;
    min-height: 500px;
    max-height: 350px;
}

.titulo, .visualizacoes {
    color: #6146a6;
}

.box-info {
    background-color: #6146a6;
    color: #fff;
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
}

.box-info:hover {
    border: 3px solid #f21667;
    border-radius: 3px;
}

.btn-editar i {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #f21667;
    transition: .3s ease-in;
}

.btn-editar i:hover {
    color: #6146a6;
}