.login-content {
    width: 100%;
    padding: auto;
    margin: auto;
    background-color: #eb9d8d;
    height: 100vh;

}

.btn-login {
    background-color: #FFF;
    color: #eb9d8d;

}

.btn-login:hover{

    background-color: #a8bb9a;
}

.opcoes-login a{
    text-decoration: none;
    color: #000;


}
.opcoes-login a:hover{
    color: #602749;
    transition: .3s ease-in-out;


}